body {
    font-size: 16px;
    color:black;
    background-color:darkgrey;
    font-family: 'Oxygen', sans-serif;
}


/** HEADER **/

#header-nav {
    background-color: yellow;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /*food llc*/
    font-family: 'Lora', serif;
    color:black;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color:darkblue;
    text-align: center;
}

#nav-list a:hover {
    background:grey;
}

#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 10px solid red;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}


/* END HEADER */


/********** Extra small devices only **********/

@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 {
        /* food llc */
        padding-top: 10px;
        font-size: 5vw;
        /* 1vw = 1% of viewport width */
    }
    #collapsable-nav a {
        /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #nav-list,
    #collapsable-nav {
        background-color: chocolate;
    }
    #xs-deliver {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */
}